.footer,
.navbar {
    background-color: #8dd3c7 !important;
}
.btn {
    background-color: #8dd3c7 !important; /* 背景顏色 */
    color: #ffffff; /* 文字顏色 */
}
.text {
    color: white;
    text-align: center;
    background-color: #bebada; /* Optional: for better readability */
    padding: 20px;
    border-radius: 10px;
}
